.btn {
	padding: 10px 30px;
	margin-top: 10px;
	text-transform: uppercase;
	transition: 0.3s;
	border: 1px solid #000000;
	background: #000000;
	color: #ffffff;
}
.btn:hover {
	background: #ffffff;
	color: #000000;
}
.btn:focus {
	outline: none;
}

.btn-login-google {
	border: 1px solid #4c8bf5;
	background: #4c8bf5;
	color: #ffffff;
}

.btn-login-google:hover {
	background: #ffffff;
	color: #4c8bf5;
}
