.cart-logo-container {
	width: 26px;
	height: 26px;
	position: relative;
	top: 5px;
	cursor: pointer;
}

.cart-logo-container .cart-count {
	position: absolute;
    width: 100%;
    top: 6px;
    left: 0;
    display: block;
    text-align: center;
}
